@{
    ViewData["Title"] = "Expenses";
}
@model List<Expense>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="CreateEditExpense" class="btn btn-secondary">CREATE NEW</a>
    <br/>
    <table class="table">
        <thead>
            <th>
                ID
            </th>
        <th>
            Name
        </th>
        <th>
               Value
        </th>
        <th>
            Description
        </th>
        <th>
            Actions
        </th>
        </thead>
        <tbody>
            @{
                foreach(var expense in Model)
                {
                    <tr>
                    <td>
                    @expense.Id
                    </td>
                        <td>
                            @expense.Name
                        </td>
                        <td>
                            @expense.Value
                        </td>
                        <td>
                            @expense.Description
                        </td>
                        <td>
                            <a asp-action="CreateEditExpense" asp-route-id="@expense.Id">EDIT</a>
                            <a asp-action="DeleteExpense" asp-route-id="@expense.Id">DELETE</a>
                        </td>
               
                    </tr>
                }
            }
        </tbody>
    </table>

</div>