@{
    ViewData["Title"] = "List Clients";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="EditClient" class="btn btn-secondary">CREATE NEW</a>
    <br />
    @{
        if (Model != null)
        {
            <table width="100%">

                
                @foreach (var client in Model)
                {
                    <tr>
                        <td>FirstName:</td>
                        <td>@client.FirstName</td>
                    </tr>
                    <tr>
                        <td>FamilyName:</td>
                        <td>@client.FamilyName</td>
                    </tr>
                    <tr>
                        <td>Birthday:</td>
                        <td>@client.Birthday</td>
                    </tr>
                    <tr>
                        <td>ProfileImageId:</td>
                        <td>@client.ProfileImageId</td>
                    </tr>
                    // <tr>
                    //     @if (client.PhotoPath != null)
                    //     {
                    //         <td>
                    //             <img src="/images/Users" />
                    //         </td>
                    //     }
                    //     <td>
                    //         <img src="/images/Users" />
                    //     </td>
                    // </tr>
                    <tr>
                        <td>Password:</td>
                        <td>@client.Password</td>
                    </tr>
                    <tr>
                        <td>GroupId:</td>
                        <td>@client.GroupId</td>
                    </tr>
                    <tr>
                        <td>GroupInvite:</td>
                        <td>@client.GroupOfClients?.CodeInvite</td>
                    </tr>


                    // @foreach (var property in client.GetType().GetProperties())
                    // {
                    //     <tr>
                    //         <td>@property.Name</td> <!-- Display Property Name (Key) -->
                    //         <td>@property.GetValue(client)</td> <!-- Display Property Value -->
                    //     </tr>

                    // }
                    <tr>
                        <td>
                            <a asp-action="EditClient" asp-controller="Administration" asp-route-id="@client.Id">EDIT</a>
                            <a asp-action="DeleteClient" asp-controller="Administration" asp-route-id="@client.Id" onclick="confirmDelete('@client.Id', true)">DELETE</a>
                        </td>
                    </tr>

                }
            </table>
        }

    }

 

</div>

<script>
    function confirmDelete(uniqueId, isTrue) {

        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>